{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boards list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Boardname</th>
                <th>Boardlink</th>
                <th>Boardprofilelink</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for board in boards %}
            <tr>
                <td><a href="{{ path('boards_show', { 'id': board.id }) }}">{{ board.id }}</a></td>
                <td>{{ board.boardName }}</td>
                <td>{{ board.boardLink }}</td>
                <td>{{ board.boardProfileLink }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('boards_show', { 'id': board.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('boards_edit', { 'id': board.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boards_new') }}">Create a new board</a>
        </li>
    </ul>
{% endblock %}
